<app-navbar-simple></app-navbar-simple>
<section>
  <div class="container mt-5">
    <div
      class="shadow-sm p-5 mt-3 mb-3 card"
      style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 1rem"
    >
      <a
        class="text-white btn fw-bolder button-red bg-black"
        href="/webdocs"
        style="width: 100%"
      >
        School Management
      </a>
      <a
        class="text-white btn fw-bolder button-red bg-black"
        href="/desktopdocs"
        style="width: 100%"
      >
        Interactive Learning
      </a>
    </div>
    <h1 class="fw-bolder">School Management Documentation</h1>
    <div class="shadow-sm p-5 mt-3 card">
      <h3 class="mb-3 fw-bold">Introduction</h3>
      <p class="" style="font-size: 20px">
        Welcome to the School Management Documentation for Play Task! Play Task
        is a comprehensive educational system designed to provide tailored and
        optimized experiences for educational institutions, enabling efficient
        school management and customizable interactive learning activities. This
        documentation aims to guide administrators, teachers, and other
        stakeholders in effectively utilizing the school management features
        provided by Play Task. By leveraging these features, schools in Sri
        Lanka can streamline administrative tasks, enhance collaboration, and
        create engaging learning environments for their students.
      </p>
      <p class="" style="font-size: 20px">
        Play Task offers a wide range of school management features, empowering
        institutions to efficiently manage their day-to-day operations.
        Administrators can register their institution, build their school
        environment, and add users such as admins, teachers, and students.
        Additionally, they can create subjects and classrooms, facilitating easy
        organization of educational resources. Through the Play Task desktop and
        web applications, teachers can create engaging lessons, upload
        resources, manage assessments, and track student progress. Students, on
        the other hand, can access their assignments, collaborate with peers,
        and engage in interactive learning experiences. The Play Task school
        management system provides a holistic solution to empower educational
        institutions in Sri Lanka, enabling them to deliver a seamless and
        personalized learning experience for their students.
      </p>
      <p class="" style="font-size: 20px">
        This documentation will provide detailed instructions on each feature of
        the school management system, ensuring that users can make the most of
        Play Task's capabilities. Whether you are an administrator, teacher, or
        stakeholder, this documentation will serve as your comprehensive guide
        to effectively utilizing the school management features offered by Play
        Task. Let's dive in and explore the powerful tools that Play Task
        provides to transform the educational experience for your institution!
      </p>
    </div>
    <div class="shadow-sm p-5 mt-3 card">
      <h3 class="mb-3 fw-bold">Registration</h3>
      <p class="" style="font-size: 20px">
        To get started with Play Task, schools can register to the system by
        filling out a simple registration form available on the website. This
        form collects basic information about the institution, such as its name,
        location, and contact details. Once the registration form is submitted,
        schools are prompted to register a General Admin, who will have
        overarching administrative privileges within the institution. The
        General Admin is responsible for managing the school's Play Task account
        and overseeing various administrative tasks.
      </p>
      <p class="" style="font-size: 20px">
        After completing the registration process, the General Admin gains
        access to the institution's dashboard, a centralized hub for managing
        and organizing school-related activities. Access to the dashboard is
        exclusive to admins and requires a two-step login process. Initially,
        the General Admin must log in using the institution email provided
        during registration. Following that, they need to provide their admin
        email and password for authentication. This ensures secure access to the
        dashboard and prevents unauthorized entry.
      </p>
    </div>
    <div class="shadow-sm p-5 mt-3 card">
      <h3 class="mb-3 fw-bold">Dashboard</h3>
      <p class="" style="font-size: 20px">
        The institution dashboard in Play Task serves as a centralized hub for
        administrators to customize their institution's environment and manage
        various aspects of the system. It offers a range of functionalities that
        empower administrators to create grades, classrooms, subjects, and
        register students, teachers, and other administrators. The dashboard
        provides comprehensive instructions for each task, ensuring a seamless
        setup process. Here's a step-by-step guide to using the institution
        dashboard:
      </p>
      <img
        class="mb-4 mt-4"
        src="../../assets/images/Dashboard.png"
        alt="dashboard"
        style="height: 500px; width: auto; margin: auto"
      />
      <h5>1. Adding Grades:</h5>
      <ul>
        <li>
          Access the institution dashboard as a non-academic or general
          administrator.
        </li>
        <li>Navigate to the "Grades" section.</li>
        <li>Click on the "Add Grade" button.</li>
        <li>
          Enter the grade level details, such as Grade 1, Grade 2, and so on.
        </li>
        <li>Save the information to create the grade levels.</li>
      </ul>

      <h5>2. Creating and Assigning Classrooms:</h5>
      <ul>
        <li>In the institution dashboard, go to the "Classrooms" section.</li>
        <li>
          Select the respective grade to which you want to add classrooms.
        </li>
        <li>Click on the "Add Classroom" button.</li>
        <li>
          Provide the necessary information, such as Class 1 - A, Class 1 - B,
          Class 2 - A, and so on.
        </li>
        <li>
          Save the information to create the classrooms and assign them to the
          corresponding grades.
        </li>
      </ul>

      <h5>3. Creating and Assigning Subjects:</h5>
      <ul>
        <li>Access the institution dashboard as an academic administrator.</li>
        <li>Go to the "Subjects" section.</li>
        <li>Click on the "Add Subject" button.</li>
        <li>
          Fill in the subject details, such as Grade 1 Mathematics, Grade 2
          Science, and so on.
        </li>
        <li>
          Save the information to create the subjects and assign them to the
          respective grades.
        </li>
      </ul>

      <h5>4. Registering Teachers and Students:</h5>
      <ul>
        <li>
          As a general administrator, navigate to the "Users" section in the
          institution dashboard.
        </li>
        <li>Choose the appropriate option to register teachers or students.</li>
        <li>
          Fill in the required details, such as name, email, and role (teacher
          or student).
        </li>
        <li>Save the information to register teachers or students.</li>
      </ul>

      <h5>5. Assigning Subjects and Classrooms:</h5>
      <ul>
        <li>In the institution dashboard, access the "Users" section.</li>
        <li>Locate the respective teacher or student profile.</li>
        <li>
          Assign subjects by selecting the appropriate subjects for teachers and
          classrooms for students.
        </li>
        <li>
          Save the changes to assign subjects and classrooms to individual
          teachers and students.
        </li>
      </ul>
    </div>
    <div class="shadow-sm p-5 mt-3 card">
      <h3 class="mb-3 fw-bold">Grades</h3>
      <img
        class="mb-4 mt-4"
        src="../../assets/images/Grades.png"
        alt="dashboard"
        style="height: 500px; width: auto; margin: auto"
      />
      <p class="" style="font-size: 20px">
        The customization of grades is facilitated through a dedicated form
        accessible to non-academic administrators. They are responsible for
        adding and removing grades within the institution. When adding grades,
        administrators are required to specify the number of terms associated
        with each grade. Each grade is uniquely identified by its number, and
        duplicates are not allowed. The system also provides a comprehensive
        list of grades for administrators of all types.
      </p>
    </div>
    <div class="shadow-sm p-5 mt-3 card">
      <h3 class="mb-3 fw-bold">Classrooms</h3>
      <img
        class="mb-4 mt-4"
        src="../../assets/images/Classroom.png"
        alt="dashboard"
        style="height: 500px; width: auto; margin: auto"
      />
      <p class="" style="font-size: 20px">
        Non-academic administrators are entrusted with the task of adding
        classrooms. The classroom creation form allows administrators to assign
        a name and a grade number to each classroom. It is important to note
        that classrooms with the same name within the same grade cannot coexist.
        Additionally, a list view is available to display classrooms in each
        grade, along with a roster of students assigned to each classroom.
      </p>
    </div>
    <div class="shadow-sm p-5 mt-3 card">
      <h3 class="mb-3 fw-bold">Subjects</h3>
      <img
        class="mb-4 mt-4"
        src="../../assets/images/Subjects.png"
        alt="dashboard"
        style="height: 500px; width: auto; margin: auto"
      />
      <img
        class="mb-4 mt-4"
        src="../../assets/images/Topics.png"
        alt="dashboard"
        style="height: 500px; width: auto; margin: auto"
      />
      <img
        class="mb-4 mt-4"
        src="../../assets/images/Subtopics.png"
        alt="dashboard"
        style="height: 500px; width: auto; margin: auto"
      />
      <p class="" style="font-size: 20px">
        Academic administrators have the responsibility of adding and
        customizing subjects within the system. They can add subjects specific
        to each grade and display them accordingly. The system enforces a
        constraint that prevents the addition of subjects with identical names
        to the same grade. After adding subjects, administrators have the
        ability to create topics within each subject. Topics are grouped
        according to the term number of the corresponding grade. Similar to
        subjects, topics are subject to a uniqueness constraint for their names
        within the same subject.
      </p>
      <p class="" style="font-size: 20px">
        Furthermore, administrators can select a topic and add subtopics to it.
        This feature allows for the addition and modification of subtopic data,
        including the subtopic name, its corresponding topic, and descriptive
        instructions to adhere to the institution's game creation standards.
        Administrators can add, select, and edit subtopics, ensuring that no
        subtopic with the same name is added to the same topic.
      </p>
    </div>
  </div>
</section>
