<!-- header section -->
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container">
      <a href="/">
        <img
          src="../../../assets/images/Logo-01.png"
          alt="Logo-01"
          class="logo"
        />
      </a>
      <div>
        <h3 class="fw-bolder">
          {{ isRegistered ? "Admin Registration" : "Institution Registration" }}
        </h3>
      </div>
    </div>
  </nav>
</header>

<!-- Institution Registration Form -->
<app-institution-registration-form
  (registrationStatus)="onRegistration($event)"
  *ngIf="!isRegistered"
></app-institution-registration-form>

<!--Admin Registration Form-->
<app-admin-registration-form
  *ngIf="isRegistered"
  [initialRegistration]="true"
  [institutionId]="id"
></app-admin-registration-form>

<!--Footer-->
<app-footer-default></app-footer-default>
