<!-- header section -->
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
    <div class="container">
      <a href="/">
        <img
          src="../../../assets/images/Logo-01.png"
          alt="Logo-01"
          class="logo"
        />
      </a>
      <div>
        <h3 class="fw-bolder">Registration</h3>
      </div>
    </div>
  </nav>
</header>

<!-- Registration form -->
<section>
  <div class="container">
    <div
      class="shadow-sm p-5 mt-5 card mx-auto"
      style="border-radius: 0; max-width: 700px"
    >
      <div class="mb-3">
        <label class="form-label fw-semibold">Name</label>
        <input
          type="text"
          class="form-control"
          style="background-color: #d9d9d9; border-radius: 0"
          placeholder="Name"
        />
      </div>
      <div class="mb-3">
        <label class="form-label fw-semibold">Type</label>
        <select
          class="form-select"
          style="background-color: #d9d9d9; border-radius: 0"
          name="dropdown"
        >
          <option selected>Choose...</option>
          <option value="option1">School</option>
          <option value="option2">Primary School</option>
          <option value="option3">Tution</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label fw-semibold">Email</label>
        <input
          type="email"
          class="form-control"
          style="background-color: #d9d9d9; border-radius: 0"
          placeholder="Email"
        />
      </div>
      <div class="mb-3">
        <label class="form-label fw-semibold">Contact Number</label>
        <input
          type="number"
          class="form-control"
          style="background-color: #d9d9d9; border-radius: 0"
          placeholder="Contact Number"
        />
      </div>
      <div class="mb-3">
        <label class="form-label fw-semibold">Location</label>
        <input
          type="text"
          class="form-control"
          style="background-color: #d9d9d9; border-radius: 0"
          placeholder="Address"
        />
      </div>
      <div class="mb-3">
        <label class="form-label fw-semibold">Password</label>
        <input
          type="text"
          class="form-control"
          style="background-color: #d9d9d9; border-radius: 0"
          placeholder="Name"
        />
      </div>
      <div class="mb-3 mt-5 text-center">
        <button
          class="btn button-red text-white fw-bolder mx-auto"
          type="submit"
        >
          Sumbmit
        </button>
      </div>
    </div>
  </div>
</section>

<!--Footer-->
<app-footer-default></app-footer-default>
