<!-- navbar-default component -->
<app-navbar-default [navIndex]="0"></app-navbar-default>

<!-- Showcase -->
<section class="bg-black" style="height: 600px">
  <div
    style="
      height: 600px;
      width: 50%;
      background-color: #2c2c2c;
      position: absolute;
      z-index: 1;
    "
  ></div>
  <div style="position: absolute; z-index: 2; width: 100%">
    <div
      class="container text-white d-flex flex-column justify-content-center"
      style="height: 600px"
    >
      <h1 class="fw-bolder pt-5 pb-5" style="font-size: 60px">
        Revolutionize Education with Our Interactive Learning Platform
      </h1>
      <p class="mt-5 mb-5" style="font-size: 25px">
        Powerful yet easy-to-use game based learning platform, empowering
        institutions and teachers to create engaging games and track student
        progress in real time
      </p>
      <a
        class="text-white btn fw-bolder button-red align-self-start mt-5 mb-5"
        href="/reg"
      >
        Get Started
      </a>
    </div>
  </div>
</section>

<!-- Download Section -->
<section>
  <div class="container">
    <div class="shadow-sm p-5 mt-5 card">
      <p class="fw-semibold" style="font-size: 20px">
        Welcome to our desktop application! If you're a teacher or a student of
        a registered institution, you can download our application and enjoy all
        the features that are tailored to your specific needs. Best of all, our
        app is completely free! Download now and experience the future of
        interactive education.
      </p>
      <p class="fw-semibold" style="font-size: 20px">
        <a class="text-black" href="/about">Read More</a>
      </p>
      <div class="align-self-end">
        <a
          class="text-white btn fw-bolder button-red m-5"
          href="/signup"
          style="width: 250px"
        >
          Download
        </a>
        <a
          class="text-white btn fw-bolder button-red bg-black"
          href="/signup"
          style="width: 250px"
        >
          Documentation
        </a>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section>
  <div class="container">
    <!-- Card 1-->
    <div class="shadow-sm mt-5 row">
      <div class="text-white p-5 col-7" style="background-color: #2c2c2c">
        <h6>Powerful Institution Management Features</h6>
        <p>
          Our platform offers powerful institution management features that
          allow you to easily register institutions and manage teachers,
          students, subjects, and terms. With our customizable system, you can
          tailor the platform to fit the needs of your institution. This feature
          is designed to simplify the process of managing large numbers of users
          and courses, while also providing valuable data insights and analytics
          to help improve educational outcomes.
        </p>
      </div>
      <div class="text-white p-5 col-5" style="background-color: #d9d9d9">
        <p class="fw-semibold" style="font-size: 20px">
          <a class="text-black" href="/about">Read More</a>
        </p>
      </div>
    </div>
    <!-- Card 2-->
    <div class="shadow-sm mt-5 row">
      <div class="text-white p-5 col-5" style="background-color: #d9d9d9">
        <p class="fw-semibold" style="font-size: 20px">
          <a class="text-black" href="/about">Read More</a>
        </p>
      </div>
      <div class="text-white p-5 col-7" style="background-color: #2c2c2c">
        <h6>Interactive Learning with Customizable Games</h6>
        <p>
          Our app empowers teachers to create engaging and interactive games to
          help their students learn subject material in a fun and interactive
          way. With our customizable game editor, teachers can create puzzles,
          quizzes and simulations that are tailored to their specific
          curriculum. These games are a great way to make learning more engaging
          and enjoyable for students, while helping them retain information more
          effectively. Plus, our user-friendly interface makes it easy for
          teachers to create and manage games, saving them time and effort.
        </p>
      </div>
    </div>
    <!-- Card 3-->
    <div class="shadow-sm mt-5 row">
      <div class="text-white p-5 col-7" style="background-color: #2c2c2c">
        <h6>Student Evaluation Through Game Analytics</h6>
        <p>
          With our app, teachers can easily evaluate their students' progress by
          using the game analytics feature. Teachers can view data such as the
          number of attempts, duration of play, and other analytics to gain
          insights into each student's progress. Our app offers a comprehensive
          toolset to help teachers track their students' progress and improve
          their learning outcomes.
        </p>
      </div>
      <div class="text-white p-5 col-5" style="background-color: #d9d9d9">
        <p class="fw-semibold" style="font-size: 20px">
          <a class="text-black" href="/about">Read More</a>
        </p>
      </div>
    </div>
  </div>
</section>
<app-footer-default></app-footer-default>
