<!-- header section -->
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container">
      <a href="/">
        <img
          src="../../../assets/images/Logo-01.png"
          alt="Logo-01"
          class="logo"
        />
      </a>
      <div>
        <h4 class="fw-bolder">
          <a class="text-black text-decoration-none" href="/docs">
            Documentation
          </a>
        </h4>
      </div>
      <div></div>
    </div>
  </nav>
</header>
