<section>
  <div class="container">
    <div class="shadow-sm mt-5 card">
      <div
        class="p-3 d-flex align-items-center justify-content-between"
        style="background-color: #2c2c2c; min-height: 100px"
      >
        <h1 class="text-white fw-bolder">Classroom 11 - A</h1>
        <div
          class="col-3"
          style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 25px"
        >
          <button class="btn btn-light">Grade</button>
          <button class="btn btn-light">Classrooms</button>
        </div>
      </div>
      <div class="pt-3" style="height: 600px; overflow-x: hidden">
        <app-classroom></app-classroom>
      </div>
    </div>
  </div>
</section>
