<!-- header section -->
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container">
      <a href="/">
        <img
          src="../../../assets/images/Logo-01.png"
          alt="Logo-01"
          class="logo"
        />
      </a>
      <div>
        <h3 class="fw-bolder">
          <a
            class="text-black text-decoration-none"
            href="/dashboard/{{ InstitutionId }}/{{ AdminId }}"
            >{{ InstitutionName }}</a
          >
        </h3>
      </div>
      <div>
        <h5 class="fw-bolder">{{ AdminName }}</h5>
      </div>
    </div>
  </nav>
</header>
